<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="questionCard" id="openQuestion">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <form action="">
                <div class="row">
                    <input type="text" placeholder="Question" class="col-6">
                    <div class="col-6">
                        <label for="difficulte">Difficulté</label>
                        <input id="difficulte" type="number" placeholder="Question" class="col-6" min="0" max="10">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>