{% extends 'base.html.twig' %}

{% block title %}Créez votre Quizz!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <div class="row">
        <h1 class="col-6">Nouveau Quizz</h1>
        <div class="col-3 text-center">
            <button type="button" class="btn btn-outline-success" id="newQuestion" data-toggle="modal" data-target="#modalTypeQuestion"><i class="fas fa-plus"></i> Question</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalTypeQuestion" tabindex="-1" role="dialog" aria-labelledby="Type de question" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titreModal">Choix du type de question</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="newQO">Question ouverte</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="newQCM">Question à choix multiples</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 text-center">
            <button type="button" class="btn btn-outline-danger" id="delQuizz"><i class="fas fa-ban"></i> Vider le quizz</button>
        </div>
    </div>

    <hr>
    <div class="container">
        <form method="post" action="" id="quizz">
            <input type="submit" class="btn btn-outline-success" value="Créer le quizz">
        <div id="question1" class="questionCard">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                        <div class="row">
                            <input type="text" placeholder="Question" class="col-6" name="QuestionText1">
                            <div class="col-6">
                                <label for="difficulte">Difficulté</label>
                                <input id="difficulte" type="number" placeholder="Difficulté" class="col-6" min="0" max="10" name="QuestionDifficulty1">
                            </div>
                        </div>
                    <button type="button" class="btn btn-outline-danger" id="btn-del-1">Supprimer</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create_quizz_page')}}
{% endblock %}
