{% extends 'base.html.twig' %}

{% block title %}Add Theme{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; width: 95%; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div class="container align-middle">
            {{ form_start(addThemeForm) }}
            <div class="row justify-content-around">
                {{ form_widget(addThemeForm.Nom, {'attr' : {'class' : 'input form-control col-6', 'placeholder' : 'Nom de votre theme'}}) }}
                <button class="btn btn-lg btn-outline-light submitButton col-2" type="submit">
                    Ok
                </button>
            </div>

            {{ form_end(addThemeForm) }}
        </div>
        <div class="container">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                   {{message}}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
