<div class="text-center">
    <h1> Partie administrateur</h1>
    *
    <h2>Vous avez un compte administrateur ? Vous allez pouvoir ajouter des Quizzes et des Thèmes</h2>
    <h2>Ce tutoriel vous explique toutes les possibilités que vous avez en tant qu'administrateur</h2>
    *
</div>
<br>
<div class="text-center">
    <h1> DashBoard</h1>
    <h2>Accédez à votre DashBoard depuis le menu déroulant sous votre nom (en haut à droite)</h2>
    *
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/dashboard.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Accédez aux Quizzes et aux Thèmes que VOUS avez créé !</h4>
                    <h4 class="card-title">Supprimez ou modifiez vos thèmes comme bon vous semble en cliquant sur les 3 points en haut à droite de chaque thème.</h4>
                    <br>
                    <h4 class="card-title text-danger">Attention, la suppression d'un thème entraine la suppression de tous les quizzes qui s'y rapportent.</h4>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    *
    <h1> Ajout d'un Thème</h1>
    <h2>Créez un nouveau thème pour vos quizzes !</h2>
    *
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/add_theme.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Choisissez le nom et la photo de votre thème.</h4>
                    <h4 class="card-title">Si un quizz est créé sans photo, la photo du thème sera affichée alors choisissez bien !</h4>
                    <br>
                    <h4 class="card-title">
                        La photo du thème est obligatoire !
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    *
    <h1> Ajout d'un quizz</h1>
    <h2>Créez vos propres quizzes !</h2>
    *
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/create_quizz.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Choisissez le titre et le thème de votre quizz, personnalisez le en ajoutant une photo.</h4>
                    <h4 class="card-title">Définissez la difficulté et l'ordre d'affichage des questions.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    *
    <h1> Ajout d'une question</h1>
    <h2>Ajoutez autant de questions que vous voulez</h2>
    *
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/add_question.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Créez les questions de votre quizz !</h4>
                    <h4 class="card-title">Ajoutez des photos et définissez le nombre de points de la question.</h4>
                    <br>
                    <h4 class="card-title">
                        Petite particularité pour les QCM, vous pouvez choisir de répartir automatiquement les points de la question parmi les bonnes réponses
                    ou choisir de définir les points de chaque bonne réponse, le nombre de points total de la question sera automatiquement calculé !
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>