@import "~bootstrap/scss/bootstrap";
@import "~bootstrap4-toggle/css/bootstrap4-toggle.min";
@import "home_page";
@import "create_quizz_page";
@import "login";
@import "register";
@import "dashboard";
@import "~rfs/scss";
@import "variables";

body{
    background: linear-gradient(.25turn,$QDBlue,$QDDarkPurple,$QDPurple,$QDPink,$QDRed)!important;
    color: white;
    /*padding-top: $bodyPadding;*/
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Lobster', cursive;
}

.jumbotron{
    background-color: $background-color!important;
}

.title{
    @include font-size(4rem);
    font-family: 'Lobster', cursive;
}

.QuizzDesignerNav{
    @include font-size(3rem);
}

.navbar{
    background-color: transparent;
    color: white;
}

.navbar-brand{
    color: white!important;
}

input{
    border-radius: 10px!important;
}

.vertical-center{
    vertical-align: middle!important;
}

.imgBack{
    max-height: inherit;
    min-height: inherit;
    width: 100%;
    opacity: 0.8!important;
}



