@import "variables";

.carouselCard{
  min-height: 300px;
  max-height: 300px;
  min-width: 500px;
  max-width: 500px;
}

.quizz{
  min-height: 20vh;
}

.carouselCard:hover img{
  opacity: 0.7!important;
}

.carouselCard img{
  min-height: inherit;
  max-height: inherit;
  min-width: inherit;
  max-width: inherit;
}

.quizzList {
  margin: 5% auto;
  width: 100%;
  align-content: center;
}

.quizzImgCard{
  height: 100%;
  width: 100%;
  padding: 0!important;
  margin-bottom: 10%;
  box-shadow: 0 12px 6px -6px $shadowColor;
}

.quizzImgCard:hover img{
  opacity: 1!important;
}

.quizz-card-content{
  color: white;
  position: relative;
  top: 10%;
}

.card-header{
  padding: 0!important;
  height: 20%;
  background-image: linear-gradient(to bottom right, $shadowColorHover, $shadowColor);
}

.card-title{
  margin: 0 auto;
  vertical-align: center;
  color: #FFFFFF;
}


/* Carousel 3D*/

img{max-width:100%}

.caroussel_diapo input{position:absolute;left:-9999px}

.caroussel_diapo{
  position:relative;
  text-align: center;
  margin:0 auto}


.contenu_carou {
  width: 500px;
  height: 332px;
  margin: 2rem auto;
  perspective: 1000px}


.caroussel {
  position: relative;
  transform-style: preserve-3d;
  width: 500px;
  height: 332px;
  transition: 1s transform;
}

.caroussel .card {
  position: absolute;
  top: 0;
  left: 0;
  outline:1px solid transparent;
  backface-visibility:hidden;
  will-change: transform;
  transition: 1s transform;
  opacity : 0.7;
}


.caroussel .card:nth-child(1){

  transform:translate3d(0,0,540px) scale(.8)

}

.caroussel .card:nth-child(2){

  transform:rotateY(45deg) translateZ(540px) scale(.8)

}

.caroussel .card:nth-child(3){

  transform:rotateY(90deg) translateZ(540px) scale(.8)

}

.caroussel .card:nth-child(4){

  transform:rotateY(135deg) translateZ(540px) scale(.8)

}

.caroussel .card:nth-child(5){

  transform:rotateY(180deg) translateZ(540px) scale(.8)

}

.caroussel .card:nth-child(6){

  transform:rotateY(225deg) translateZ(540px) scale(.8)

}

.caroussel .card:nth-child(7){

  transform:rotateY(270deg) translateZ(540px) scale(.8)

}

.caroussel .card:nth-child(8){

  transform:rotateY(315deg) translateZ(540px) scale(.8)

}

.caroussel_diapo input[type=radio] + label {
  cursor: pointer;
  background-color: hsl(203,77%,81%);
  display: inline-block;
  width: 20px;
  border-radius: 50%;
  height: 20px
}

.caroussel_diapo input[type=radio]:checked + label{

  background-color:hsl(203,77%,61%)

}




/*gauche*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px)

}

.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px) rotateY(-45deg)

}

.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px) rotateY(-90deg)

}

.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px) rotateY(-135deg)

}

.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px) rotateY(-180deg)

}

.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px) rotateY(-225deg)

}

.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px) rotateY(-270deg)

}

.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel{

  transform:translateZ(-540px) rotateY(-315deg)

}


/*droite*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel .card:nth-child(1){

  transform:translateZ(540px) scale(1)

}

.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel .card:nth-child(2){

  transform:rotateY(45deg) translateZ(540px) scale(1)

}
.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel .card:nth-child(3){

  transform:rotateY(90deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel .card:nth-child(4){

  transform:rotateY(135deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel .card:nth-child(5){

  transform:rotateY(180deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel .card:nth-child(6){

  transform:rotateY(225deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel .card:nth-child(7){

  transform:rotateY(270deg) translateZ(540px) scale(1)

}

.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel .card:nth-child(8){

  transform:rotateY(315deg) translateZ(540px) scale(1)

}
