$shadowColor : #343A40;
$shadowColorHover : #67737e;

.quizzList {
  margin-top: 5%;
}

.card-header{
  padding: 0!important;
  height: 20%;
  background-image: linear-gradient(to bottom right, $shadowColorHover, $shadowColor);
}

.card-title{
  margin: 0 auto;
  vertical-align: center;
  color: #FFFFFF;
}
