body{
  overflow: hidden;
  padding: 0;
}

#c{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.QuizzDesignerTitle{
  position: absolute;
  top: 15vh;
  left: 32vw;
  text-align: center;
}

.login{
  position: absolute;
  top: 50vh;
  left: 34vw;
  background-color: #707070;
  border-radius: 15px;
  align-content: center;
  width: 33vw;
}

.loginForm{
  margin-bottom: 5vh;
}

.form-control {
  border-radius: 10px!important;
}

.forgotPassword{
  margin: 0 auto;
  text-align: center;
}

a{
  color: #bfbfbf;
}

a:hover{
  color: #bfbfbf;
  text-decoration: none;
}

.register{
  margin: 0 auto;
  text-align: center;
}


.submitButton{
  width: 50%;
  margin-bottom: 2vh;
  margin-left: 25%;
  margin-top: 1vh;
}