.input {
  border: 0;
  @include rfs(10px!important, border-radius);

}

.registerform{
  @include rfs(50rem, width);
  @include margin( 2rem auto 0);
  @include rfs(1rem, border-radius);
  max-width: 100%;
  background-color: #707070;
  align-content: center;
}

.divError{
  height: 2rem;
  text-align: center;
}

