<div class="container">
    <div class="row justify-content-around">
        <h1 class="col-8">Mes Themes :</h1>
        <a class="col-1.5" href="{{ path('add_theme') }}"><button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Créer Theme</button></a>
    </div>
    <br>
    <div class="row justify-content-around">
        {% for theme in themes %}
            <div class="card text-center quizzCard col-3 quizzCardContent container">
                <div class="row">
                    <div class="card-title col-12">
                        <h2>{{ theme.nom }}</h2>
                    </div>
                </div>
                <a href="{{ path('delete_theme', {id : theme.id}) }}" class="deleteButton"><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
            </div>
        {% endfor %}
    </div>
</div>